<div class="container mt-5">
  <div class="col-md-6 col-12 mx-auto">
    <h1 class="mb-4">錢錢去哪了？</h1>
    <form action="/records/{{record._id}}?_method=PUT" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">帳目 <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="name" value="{{record.name}}" name="name" required />
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">日期 <span class="text-danger">*</span></label>
        <input type="date" class="form-control" id="date" value="{{record.date}}" name="date" required />
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">分類 <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="category" value="{{record.category}}" list="categoryOptions" name="category"
          required />
        {{! 使用datalist，讓使用者可選擇或自行輸入 }}
        <datalist id="categoryOptions">
          <option>家居物業</option>
          <option>交通出行</option>
          <option>休閒娛樂</option>
          <option>餐飲食品</option>
          <option>其他</option>
        </datalist>
      </div>
      <div class="mb-3">
        <label for="amount" class="form-label">金額 <span class="text-danger">*</span></label>
        <input type="number" class="form-control" id="amount" min="0" step="1" value="{{record.amount}}" name="amount" required>
      </div>
      <div class="text-left">
        <button type="submit" class="btn btn-light">
          儲存修改
        </button>
        <a href="/">
          <button type="button" class="btn btn-light">
            返回首頁
          </button>
        </a>
        <button type="reset" class="btn btn-light">
          重新輸入
        </button>
      </div>
    </form>
  </div>
</div>