{{!-- <!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
    </div>
  </div>
</div> --}}


<!-- records list -->
<div class="mt-5">

  {{!-- {{#if recordData}} --}}
  <div class="col-md-6 col-8 mx-auto">
    <div class="d-flex justify-content-between align-items-stretch">
      <div class="d-flex flex-column justify-content-around">
        {{#if categoryData}}
        <form action="/filter">
          <select class="form-select" name="selectedCategory" id="selectedCategory" onchange='this.form.submit()'>
            <option value='' {{#if selectedCategory}}{{else}}selected{{/if}} disabled>Catogory</option>

            <option value='' {{#if selectedCategory}}{{else}}selected{{/if}}>ALL</option>
            <option value='家居物業' {{#is selectedCategory '家居物業' }} selected {{/is}}>家居物業
            </option>
            <option value='交通出行' {{#is selectedCategory '交通出行' }} selected {{/is}}>交通出行
            </option>
            <option value='休閒娛樂' {{#is selectedCategory '休閒娛樂' }} selected {{/is}}>休閒娛樂
            </option>
            <option value='餐飲食品' {{#is selectedCategory '餐飲食品' }} selected {{/is}}>餐飲食品
            </option>
            <option value='其他' {{#is selectedCategory '其他' }} selected {{/is}}>其他
            </option>
          </select>
        </form>
        {{/if}}
        <div>
          <h5 class="fw-bold mb-3 ms-2">total</h5>
        </div>
      </div>
      <div class="" style="font-size: 12vw;">{{totalAmount}}</div>
    </div>
    <div>
      <a href="/records/new" style="text-decoration: none">
        <div class="d-grid gap-2">
          <button class="btn btn-light mb-3" type="button">新增帳目</button>
        </div>
      </a>
    </div>

  </div>

  {{#if recordData}}
  <div class="col-md-6 col-8 mx-auto">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">date</th>
          <th scope="col" class="text-end">amount</th>
          <th scope="col" class="text-center" colspan="2">function</th>
          {{!-- <th scope="col"></th> --}}
        </tr>
      </thead>
      <tbody>
        {{#each recordData}}
        <tr>
          <th scope="row"><i class="{{this.fontAwesomeClass}} h7" title="{{this.categoryName}}"></i></th>
          <td>{{this.name}}</td>
          <td>{{this.date}}</td>
          <td class="text-end">{{this.amount}}</td>
          <td colspan="2" class="text-center">
            <form action="/records/{{this._id}}?_method=DELETE" method="POST">
              <a class="" href="/records/{{this._id}}/edit" style="text-decoration: none ; color:#000"
                onmouseover='this.style.textDecoration="underline"' onmouseout='this.style.textDecoration="none"'>
                修改
              </a>
              <button class="p-0" type="button"
                style="text-decoration: none ; color:#000; outline: none; background: transparent;border: 1px solid transparent;"
                onmouseover='this.style.textDecoration="underline"' onmouseout='this.style.textDecoration="none"'
                data-bs-toggle="modal" data-bs-target="#Modal{{this._id}}">
                刪除
              </button>
            </form>
          </td>
          {{!-- delete double-check modal --}}
          <div class="modal fade" id="Modal{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you Sure you want to delete {{this.name}} ?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <i class="{{this.fontAwesomeClass}} h7" title="{{this.categoryName}}"></i>
                  <div>name: {{this.name}}</div>
                  <div>date: {{this.date}}</div>
                  <div>amount: {{this.amount}}</div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <form action="/records/{{this._id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Delete anyway</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{!-- 找不到結果時顯示如下 --}}
  {{else}}
  <div class="col-md-6 col-8 mx-auto">
    <div class="d-flex justify-content-between flex-row align-items-end">
      <h3 class="mt-3 text-start">「 要理財，先記帳 」</h3>
      <h6 class="mt-3 text-start">──── 胡謫</h6>
      {{!-- <h3 class="m-3">我們搜遍了資料庫的每寸角落，也找不到包含「{{keywords}}」關鍵字的餐廳</h3>
      <h6>「真像一塊塊綠豆糕。」一位外號叫「大食客」的同學緊接著說。</h6> --}}
    </div>
  </div>
  {{/if}}
</div>